<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <button class="btn btn-primary"
              (click)="onlyodd=!onlyodd"
      >onlyAdd odd</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6"></div>
    <div *ngIf="onlyodd">
      <ul  *ngFor="let odd of oddnumbers" class="list-group">
       <li
         class="list-group-item"
         [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'blue' : 'yellow'}">
         <span class="badge" [ngClass]="{odd: odd % 2 !== 0}">{{odd}}</span>
       </li>
      </ul>
    </div>
    <div *ngIf="!onlyodd">
      <ul  *ngFor="let odd of evennumbers" class="list-group">
       <li class="list-group-item">
        <span class="badge center-block"
        >{{odd}}</span>
       </li>
     </ul>
    </div>
  </div>
  <p appBasicHighlight>this  paragraph is styled with directive </p>
  <p appSecondHighlight>this  paragraph is styled with recommended way in using directive </p>
</div>

